**/node_modules/**
**/dist/**
**/.env
**/.env.*
**/package-lock.json
**/uploads/**
co-so-du-lieu/ban-sao-rieng/**
co-so-du-lieu/so-do/**
co-so-du-lieu/so-do-csdl.html
co-so-du-lieu/*.json
**/*.sql
**/*.drawio
**/*.svg
